<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forming</title>
</head>
<body>
    <h1>ENTER YOUR INFO NOW</h1>
    <form action="/check/" method="post">
        <label>First name: <input type="text" name="fname" ></label>
        <label>Last name: <input type="text" name="lname" ></label>
        <label>Age: <input type="number" name="age" ></label>
        <label>Email: <input type="email" name="email" ></label>
        <label>Password: <input type="password" name="password" ></label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>